/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

/* Heading */
h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 32px;
    color: #333;
}

/* Card Container */
#card-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

/* Card Design */
.card {
    width: 270px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

/* .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
} */

/* Image Section */
.img-section {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f3f5;
}

.img-section img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

/* Description Section */
.des-section {
    padding: 15px;
    min-height: 220px;
}

.des-section strong {
    color: #444;
}

.des-section p {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
    line-height: 1.4;
}

/* Button Section */
.btn-section {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

/* Buttons */
.cart-btn {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 8px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.cart-btn:hover {
    background-color: #495057;
}

.detail-btn {
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 8px;
    width: 110px;
    height: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.detail-btn:hover {
    background-color: #084298;
}